<h1>Questions</h1>

<%= form_for @new_question, url: topic_questions_path( @topic ) do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :text, "Question" %>
      <%= f.cktext_area :text, class: 'form-control', id: 'question_editor' %>
    </div>
    <div class="form-group">
      <%= f.label :answer %>
      <%= f.cktext_area :answer, class: 'form-control', id: 'answer_editor' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Add', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

<div class="row">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Asked</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= raw question.text %></td>
        <td><%= raw question.answer %></td>
        <td><%= question.question_sets.count %></td>
        <td><%= question.created_at %></td>
        <td>
          <span class="glyphicon glyphicon-pencil"></span>
          <%= link_to topic_question_path( @topic, question ), method: :delete do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
